<div class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="space-between center">

      <!-- APP TITLE -->
      <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          shopping_basket
        </mat-icon>
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Campaing
        </span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div class="search-wrapper mx-32 mx-md-0">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </div>
      </div>

      <!-- / SEARCH -->


    </div>
    <!-- / HEADER -->
    <div class="content-card">
      <!-- CONTENT -->
      <div class="content">

        <table mat-table [dataSource]="dataSource" matSort>

          <!-- Progress Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
            <td mat-cell *matCellDef="let row"> {{row.state}} </td>
          </ng-container>
          <ng-container matColumnDef="stage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Stage </th>
            <td mat-cell *matCellDef="let row"> {{row.stage}} </td>
          </ng-container>

          <ng-container matColumnDef="gender_range">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender Range </th>
            <td mat-cell *matCellDef="let row"> {{row.gender_range}} </td>
          </ng-container>


          <ng-container matColumnDef="ager_range">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Age Range </th>
            <td mat-cell *matCellDef="let row"> {{row.age_range}} </td>
          </ng-container>

          <ng-container matColumnDef="budget">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Budget </th>
            <td mat-cell *matCellDef="let row"> {{row.budget}} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let row"> {{row.description}} </td>
          </ng-container>



          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr class="example-element-row" mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="search(row.id)">
          </tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>