<div id="dashboard-project" class="page-layout simple right-sidebar" fxLayout="row">

    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>

        <!-- HEADER -->
        <div class="header accent p-24 pb-0" fxLayout="column" fxLayoutAlign="space-between">

            <div fxLayout="row" fxLayoutAlign="space-between start">

                <span class="mat-display-1 my-0 my-sm-24 welcome-message"
                      [@animate]="{value:'*',params:{x:'50px'}}">Welcome back, Charlie!
                </span>

                <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
                        (click)="toggleSidebar('project-dashboard-right-sidebar-1')">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">

            <mat-tab-group dynamicHeight>

                <mat-tab label="General">

                    <div class="widget-group p-12" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                         [@animateStagger]="{value:'50'}">

                        <!-- WIDGET 1 -->
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                     fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25" >

                            <!-- Front -->
                            <div class="fuse-widget-front" >
                                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                     fxLayoutAlign="space-between center">
                               
                                    <button mat-icon-button fuseWidgetToggle aria-label="more">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                </div>

                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <div class="light-blue-fg font-size-50 line-height-72">
                                      {{tasks.length}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500"> Tasks
                                    </div>
                                </div>

                               
                            </div>
                            <!-- / Front -->

                            <!-- Back -->
                            <div class="fuse-widget-back p-16 pt-32">
                                <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                        aria-label="Flip widget">
                                    <mat-icon class="s-16">close</mat-icon>
                                </button>

                                <div>
                                    back de tareas
                                </div>
                            </div>
                            <!-- / Back -->

                        </fuse-widget>
                        <!-- / WIDGET 1 -->

                        <!-- WIDGET 1 -->
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                     fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25" >

                            <!-- Front -->
                            <div class="fuse-widget-front" >
                                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                     fxLayoutAlign="space-between center">
                               
                                    <button mat-icon-button fuseWidgetToggle aria-label="more">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                </div>

                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <div class="light-blue-fg font-size-50 line-height-72">
                                      {{meetings.length}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">  Meetings
                                    </div>
                                </div>

                               
                            </div>
                            <!-- / Front -->

                            <!-- Back -->
                            <div class="fuse-widget-back p-16 pt-32">
                                <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                        aria-label="Flip widget">
                                    <mat-icon class="s-16">close</mat-icon>
                                </button>

                                <div>
                                    back de reuniones
                                </div>
                            </div>
                            <!-- / Back -->

                        </fuse-widget>
                        <!-- / WIDGET 1 -->

                        <!-- WIDGET 1 -->
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                     fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25" >

                            <!-- Front -->
                            <div class="fuse-widget-front" >
                                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                     fxLayoutAlign="space-between center">
                               
                                    <button mat-icon-button fuseWidgetToggle aria-label="more">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                </div>

                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <div class="light-blue-fg font-size-50 line-height-72">
                                      {{communications.length}}
                                    </div>                                    
                                    <div class="h3 secondary-text font-weight-500">  Communications
                                    </div>
                                </div>

                               
                            </div>
                            <!-- / Front -->

                            <!-- Back -->
                            <div class="fuse-widget-back p-16 pt-32">
                                <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                        aria-label="Flip widget">
                                    <mat-icon class="s-16">close</mat-icon>
                                </button>

                                <div>
                                    back de comunicaciones
                                </div>
                            </div>
                            <!-- / Back -->

                        </fuse-widget>
                        <!-- / WIDGET 1 -->

                        <!-- WIDGET 1 -->
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                     fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25" >

                            <!-- Front -->
                            <div class="fuse-widget-front" >
                                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                     fxLayoutAlign="space-between center">
                               
                                    <button mat-icon-button fuseWidgetToggle aria-label="more">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                </div>

                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <div class="light-blue-fg font-size-50 line-height-72">
                                      {{quotations.length}}                                      
                                    </div>                                    
                                    <div class="h3 secondary-text font-weight-500">  Quotations
                                    </div>
                                </div>

                               
                            </div>
                            <!-- / Front -->

                            <!-- Back -->
                            <div class="fuse-widget-back p-16 pt-32">
                                <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                        aria-label="Flip widget">
                                    <mat-icon class="s-16">close</mat-icon>
                                </button>

                                <div>
                                    back de quotatios
                                </div>
                            </div>
                            <!-- / Back -->

                        </fuse-widget>
                        <!-- / WIDGET 1 -->

                  


                        <!-- WIDGET 7 -->
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                            fxFlex="100" fxFlex.gt-sm="50">
                            <!-- Front -->
                            <button mat-raised-button [routerLink]="'/apps/security/resources/new'"
                                class="add-product-button fuse-white mt-24 mt-md-0">
                                <span>ACEPT QUOTATION</span>
                            </button>
                            <!-- / Front -->
                        </fuse-widget>
                        <!-- / WIDGET 7 -->

                        <!-- WIDGET 7 -->
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                            fxFlex="100" fxFlex.gt-sm="50">
                            <!-- Front -->
                            <button mat-raised-button [routerLink]="'/apps/security/resources/new'"
                                class="add-product-button fuse-white mt-24 mt-md-0">
                                <span>CLOSE SALE</span>
                            </button>
                            <!-- / Front -->
                        </fuse-widget>
                        <!-- / WIDGET 7 -->

                    </div>
                    
                    <!-- / WIDGET GROUP -->

                </mat-tab>
         

                <mat-tab label="Tasks">

                    <div class="widget-group p-12" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                         [@animateStagger]="{value:'50'}">

                        <!-- WIDGET 1 -->
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                     fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25" *ngFor="let task of tasks, let i=index">

                            <!-- Front -->
                            <div class="fuse-widget-front" >
                                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                     fxLayoutAlign="space-between center">
                               
                                    <button mat-icon-button fuseWidgetToggle aria-label="more">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                </div>

                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <div class="light-blue-fg font-size-40 line-height-72">
                                      Tarea {{i+1}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500">  {{task.realized}}
                                    </div>
                                </div>

                               
                            </div>
                            <!-- / Front -->

                            <!-- Back -->
                            <div class="fuse-widget-back p-16 pt-32">
                                <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                        aria-label="Flip widget">
                                    <mat-icon class="s-16">close</mat-icon>
                                </button>

                                <div>
                                    Description: {{task.description}}
                                </div>
                            </div>
                            <!-- / Back -->

                        </fuse-widget>
                        <!-- / WIDGET 1 -->

                    </div>
                    <!-- / WIDGET GROUP -->

                </mat-tab>
               
                <mat-tab label="Meetings">

                        <div class="widget-group p-12" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                             [@animateStagger]="{value:'50'}">
    
                            <!-- WIDGET 1 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                         fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25" *ngFor="let meeting of meetings, let i=index">
    
                                <!-- Front -->
                                <div class="fuse-widget-front" >
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                         fxLayoutAlign="space-between center">
                                   
                                        <button mat-icon-button fuseWidgetToggle aria-label="more">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>
    
                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                        <div class="light-blue-fg font-size-40 line-height-72">
                                        Meeting {{i+1}}
                                        </div>
                                        <div class="h3 secondary-text font-weight-500">  {{meeting.topic}}
                                        </div>
                                        <div class="h3 secondary-text font-weight-500">  {{meeting.date}}
                                        </div>
                                    </div>
    
                                   
                                </div>
                                <!-- / Front -->
    
                                <!-- Back -->
                                <div class="fuse-widget-back p-16 pt-32">
                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                            aria-label="Flip widget">
                                        <mat-icon class="s-16">close</mat-icon>
                                    </button>
    
                                    <div>
                                        Description: {{meeting.observation}}
                                    </div>
                                    <div>
                                        Assitants: {{meeting.assistants}}
                                    </div>
                                    <div>
                                        Duration: {{meeting.duration}}
                                    </div>
                                    <div>
                                        Place: {{meeting.place}}
                                    </div>
                                    <div>
                                        Observation: {{meeting.observation}}
                                    </div>
                                </div>
                                <!-- / Back -->
    
                            </fuse-widget>
                            <!-- / WIDGET 1 -->
    
                        </div>
                        <!-- / WIDGET GROUP -->
    
                    </mat-tab>
                    
                <mat-tab label="Calls">

                        <div class="widget-group p-12" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                             [@animateStagger]="{value:'50'}">
    
                            <!-- WIDGET 1 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                         fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25" *ngFor="let call of calls, let i=index">
    
                                <!-- Front -->
                                <div class="fuse-widget-front" >
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                         fxLayoutAlign="space-between center">
                                   
                                        <button mat-icon-button fuseWidgetToggle aria-label="more">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>
    
                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                        <div class="light-blue-fg font-size-35 line-height-72">
                                          Call {{i+1}}
                                        </div>
                                        <div class="h3 secondary-text font-weight-500">  {{call.date}}
                                        </div>
                                    </div>
    
                                   
                                </div>
                                <!-- / Front -->
    
                                <!-- Back -->
                                <div class="fuse-widget-back p-16 pt-32">
                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                            aria-label="Flip widget">
                                        <mat-icon class="s-16">close</mat-icon>
                                    </button>
    
                                    <div>
                                        Description: {{call.description}}
                                    </div>                                    
                                    <div>
                                        Observation: {{call.observation}}
                                    </div>

                                </div>
                                <!-- / Back -->
    
                            </fuse-widget>
                            <!-- / WIDGET 1 -->
    
                        </div>
                        <!-- / WIDGET GROUP -->
    
                    </mat-tab>
                
                <mat-tab label="Quotations">

                        <div class="widget-group p-12" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                             [@animateStagger]="{value:'50'}">
    
                            <!-- WIDGET 1 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                         fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25" *ngFor="let quote of quotations, let i=index">
    
                                <!-- Front -->
                                <div class="fuse-widget-front" >
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                         fxLayoutAlign="space-between center">
                                   
                                        <button mat-icon-button fuseWidgetToggle aria-label="more">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>
    
                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                        <div class="light-blue-fg font-size-35 line-height-72">
                                          Quote {{i+1}}
                                        </div>
                                        <div class="h3 secondary-text font-weight-500"> {{quote.offers.length}}
                                        </div>
                                    </div>
    
                                   
                                </div>
                                <!-- / Front -->
    
                                <!-- Back -->
                                <div class="fuse-widget-back p-16 pt-32">
                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                            aria-label="Flip widget">
                                        <mat-icon class="s-16">close</mat-icon>
                                    </button>
    
                                    <div>
                                       dkfsldf {{quote.creationdate}}
                                    </div>
                                </div>
                                <!-- / Back -->
    
                            </fuse-widget>
                            <!-- / WIDGET 1 -->
    
                        </div>
                        <!-- / WIDGET GROUP -->
    
                    </mat-tab>
                    
                
                
            </mat-tab-group>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
