<!-- SIDEBAR HEADER -->
<div class="header accent p-24" fxLayout="column" fxLayoutAlign="space-between">

    <div class="toolbar" fxLayout="row" fxLayoutAlign="end center">

        <button mat-icon-button matTooltip="Delete" (click)="eliminar(selected.INFO.PATH)">
            <mat-icon>delete</mat-icon>
        </button>

        <button mat-icon-button class="" aria-label="Download" matTooltip="Download"
            (click)="descargar(selected.INFO.PATH,selected.INFO.NAME)">
            <mat-icon>get_app</mat-icon>
        </button>


    </div>

    <div>
        <div class="title mb-8">{{selected.name}}</div>
        <div class="subtitle secondary-text">
            <span>Edited</span>
            <span>: {{selected.modified}}</span>
        </div>
    </div>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content p-24" fusePerfectScrollbar>

    <div class="file-details" [@animate]="{value:'*',params:{delay:'200ms'}}">

        <div class="preview file-icon" fxLayout="row" fxLayoutAlign="center center">
            <mat-icon class="type-icon s-48" [ngClass]="selected.INFO.TYPE=='DOC' ? 'document' : 'folder'"></mat-icon>
        </div>

        <div class="title">Info</div>

        <table>
            <tr class="name">
                <th>Nombre</th>
                <td>{{selected.INFO.NAME}}</td>
            </tr>
            <tr class="type">
                <th>Type</th>
                <td>{{selected.INFO.TYPE}}</td>
            </tr>

            <tr class="user">
                <th>Usuario</th>
                <td>{{selected.INFO.USERID}}</td>
            </tr>

            <tr class="date">
                <th>Fecha de Creacion</th>
                <td>{{selected.INFO.CREATION_DATE}}</td>
            </tr>


            <div *ngIf="selected.INFO.STATET==='ACT'">

                    <tr class="Version">
                            <th>Versiones</th>
                            <td>
                                <button mat-fab color="warn" class="add-file-button"
                                    (click)="version(selected.INFO.PATH); openModal(template);  " aria-label="Add file"
                                    [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </td>
                        </tr>
                        <tr class="Download">
                            <th>Descargar</th>
                            <td>
                                <button mat-fab color="warn" class="add-file-button"
                                    (click)="descargar(selected.INFO.PATH,selected.INFO.NAME)" aria-label="Add file"
                                    [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                                    <mat-icon>get_app</mat-icon>
                                </button>
                            </td>
                        </tr>
            </div>
            <div *ngIf="selected.INFO.STATET==='ICT'">

                    <tr class="Restore">
                            <th>Restaurar</th>
                            <td>
                                    <button mat-fab color="warn" class="add-file-button"
                                    (click)="restaurar(selected.INFO.PATH)" aria-label="Add file"
                                    [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                                    <mat-icon>restore</mat-icon>
                                </button>
                            </td>
                        </tr>
                        <tr class="Delete">
                            <th>Eliminar Definitivamente</th>
                            <td>
                                <button mat-fab color="warn" class="add-file-button"
                                    (click)="descargar(selected.INFO.PATH,selected.INFO.NAME)" aria-label="Add file"
                                    [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </tr>
            </div>
           

        </table>



    </div>


</div>
<ng-template #template>


    <mat-table #table [dataSource]="dataSourceVersion.Versions" [@animateStagger]="{value:'50'}">

        <!-- NAME Column -->
        <ng-container matColumnDef="VersionId">
            <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.VersionId}}</mat-cell>
        </ng-container>

        <!-- TYPE Column -->
        <ng-container matColumnDef="LastModified">
            <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.LastModified}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="radio">
            <mat-header-cell *matHeaderCellDef>Radio</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-radio-group [(ngModel)]="operacionSeleccionada">
                    <mat-radio-button [value]="row.VersionId"></mat-radio-button>
                </mat-radio-group>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelect(row)"
            (dblclick)="onRowDblclicked(row)" [ngClass]="{'selected' : row == selected}" matRipple
            [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>

    </mat-table>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-right"
            (click)="cambiarversion(selected.INFO.PATH);modalRef.hide()">
            Guardar
        </button>
    </div>
</ng-template>

<ng-template #loading>

    <div class="modal-body">
        <label>Versiones</label>
        <input type="text" class="form-control" /><br />

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-right" (click)="modalRef.hide()">
            Close
        </button>
    </div>
</ng-template>
<!-- / SIDEBAR CONTENT -->