<div id="file-manager" class="page-layout simple right-sidebar inner-scroll">

    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar main-sidebar" name="file-manager-main-sidebar" position="left">
        <file-manager-main-sidebar></file-manager-main-sidebar>
    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center" fxFlex>

        <!-- HEADER -->
        <div class="header accent p-24" fxLayout="column" fxLayoutAlign="space-between start">

            <!-- TOOLBAR -->
            <div class="toolbar w-100-p" fxFlex fxLayout="row" fxLayoutAlign="space-between start">

                <div class="left-side" fxLayout="row">
                    <button mat-icon-button class="sidebar-toggle" (click)="toggleSidebar('file-manager-main-sidebar')">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>

                <div class="right-side" fxLayout="row">
                    <button mat-icon-button aria-label="Search" matTooltip="Search">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </div>
            <!-- / TOOLBAR -->

            <!-- BREADCRUMB -->
            <div class="breadcrumb text-truncate h1 pl-72" fxLayout="row" fxLayoutAlign="start center"
            [@animate]="{value:'*',params:{x:'50px'}}">
           <div *ngFor="let path of pathArr; last  as isLast" fxLayout="row" fxLayoutAlign="start center">
               <span>{{path}}</span>
               <mat-icon *ngIf="!isLast" class="separator">chevron_right</mat-icon>
           </div>
       </div>
            <!-- / BREADCRUMB -->

            <!-- ADD FILE BUTTON -->


            <!-- / ADD FILE BUTTON -->

        </div>
        <!-- / HEADER -->
        <div>
            <input hidden type="file" #fileInput />
            <mat-form-field>
                <mat-select placeholder="CrearArchivo">
                    <mat-option (click)="show=true">Carpeta</mat-option>

                    <mat-option (click)="show=false" value="center">Documento</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- CONTENT -->

        <div *ngIf="show; else notShow" class="content" fusePerfectScrollbar>
            <div class="contenedor">

                <mat-form-field>
                  <input matInput [(ngModel)]="nombre" type="string" placeholder="Nombre">
                </mat-form-field>
              
                <button mat-raised-button color="primary" (click)="carpeta()">GUARDAR</button>
                
              </div>
           
            <file-list></file-list>
        </div>

        <ng-template #notShow>

            <ngx-file-drop dropZoneLabel="Arrastre Sus Archivos Aqui" (onFileDrop)="dropped($event,pathArr)"
                (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">

                <ng-template let-openFileSelector="openFileSelector">
                    Optional custom content that replaces the the entire default content.
                    <button type="button" (click)="openFileSelector()">Browse Files</button>
                </ng-template>
            </ngx-file-drop>
            <file-list></file-list>
        </ng-template>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar details-sidebar" name="file-manager-details-sidebar" position="right"
        lockedOpen="gt-md">
        <file-manager-details-sidebar></file-manager-details-sidebar>
    </fuse-sidebar>
    <!-- / SIDEBAR -->

</div>